@font-face {
    font-family: LuckiestGuy-Regular;
    src: url(font/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: PermanentMarker-Regular;
    src: url(font/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: DynaPuff-VariableFont_wdth\,wght;
    src: url(font/DynaPuff-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: RockSalt-Regular;
    src: url(font/RockSalt-Regular.ttf);
}

@keyframes bounce {
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    40% { transform: translateY(0); }
    60% { transform: translateY(-15px); }
    80% { transform: translateY(0); }
    100% { transform: translateY(0); }
}

.Temfont{
    padding: 10px;
    margin-left: 200px;
    text-shadow: 0 0 3px rgb(8, 0, 255), 
    0 0 5px aqua, 0 0 5px aqua;
}

.Temfont a{
    font-family: PermanentMarker-Regular;
    font-size: 55px;
    color: rgb(115, 210, 216);
}

#navbarNav{
    justify-content: right;
    margin-right: 30px;

}

#navbarNav ul li{
    font-family: LuckiestGuy-Regular;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 30px;
}

#navbarNav ul li a{
    font-size: 24px;
    color: red
}

#header {
    padding: 50px;
    border-bottom: 2px solid transparent;
    background: linear-gradient(to right, rgba(219, 209, 209, 0.5), rgba(74, 135, 175, 0.5), rgba(13, 13, 94, 0.5));
}


main .container {
    padding: 100px;
    transition: padding 0.8s ease, align-items 1s ease;
}

main .container:hover {
    padding: 80px;
    align-items: left; 
    text-align: left;
}


#welcome {
    text-align: center;
    font-size: 80px;
    background: linear-gradient(90deg, #313131, #3138f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DynaPuff-VariableFont_wdth\,wght;
    padding: 10px;
    animation: bounce 2s infinite;
}

.custom1{
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 50px
}

.custom2, .custom3, .custom4, .custom5, .custom6
,.custom7, .custom8, .custom9, .custom10, .custom11
,.custom12, .custom13, .custom14, .custom15, .custom16
,.custom17, .custom18, .custom19{
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 50px
}

.btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 20px;
    margin-left: 10px;
    font-weight: 200;
    padding: 0.5em 1em;
    background: linear-gradient(to right, #460202, #460275);
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: translateX(-10px);
    background: linear-gradient(to right, #0000FF, #460275);
}

main{
    background-color: rgb(199, 197, 197);
}

main .container {
    background-color: rgba(255, 255, 255, 0.4);
}
 
#news{
    font-size: 40px;
    font-family: DynaPuff-VariableFont_wdth\,wght
}

#sport{
    font-size: 40px;
    font-family: DynaPuff-VariableFont_wdth\,wght
}

#opinion{
    font-size: 40px;
    font-family: DynaPuff-VariableFont_wdth\,wght
}

.divider{
    border-top: 5px solid #000000;
    margin-bottom: 20px; 
}

.divider1{
    border-top: 5px solid #000000;
    margin-bottom: 20px; 
}

.divider2{
    border-top: 5px solid #000000;
    margin-bottom: 20px; 
}

footer {
    background-color: rgba(0, 0, 0, 9);
}
  
#mission-vision h2 {
    font-size: 90px;
    font-family: LuckiestGuy-Regular;
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    margin-bottom: 40px;
    background: linear-gradient(90deg, #3138f7, #1b1b1e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section{
    background-color: #C7C5C5;
}
#mission-vision p {
    font-family: RockSalt-Regular;
    font-size: 30px;
    margin-bottom: 50px;
}
  
.bor1{
    border: 5px solid blue;
    padding: 20px;
    position: relative;
}

.bor2{
    margin-top: 50px;
    border: 5px solid blue;
    padding: 20px;
    position: relative;
}

.bor1:before, .bor2:before {
    content: "";
    position: absolute;
    left: -60px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-right: 60px solid blue; 
}

footer p{
    font-size: 22px;
    text-align: left;
}